.container {
  width: 100%;
  display: inline-block;
}

.Blog nav {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

.Blog nav ul {
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  float: right;
}

.Blog nav li {
  display: inline;
}

.Blog nav a {
  color: #f2f2f2;
  padding: 6px 12px;
  text-decoration: none;
}

.Blog nav a:hover {
  background-color: #111;
  border-radius: 10px;
}

.content {
  text-align: center;
  margin-top: 20px;
}

.post {
  width: 300px;
  text-align: center;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 2px 3px #ccc;
          box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  background-color: #7c9170;
  border-radius: 10px;
  height: 300px;
}

.post:hover {
  font-weight: bolder;
  background-color: #88af78;
  opacity: 0.8;
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 10px 15px #ccc;
          box-shadow: 0 10px 15px #ccc;
}

.post h1 {
  padding: 10px;
  margin: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
}

.Fullpost {
  width: 85%;
  background-color: #bcc89c;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  border: 27px solid #c8cea4;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.Fullpost h2 {
  padding-left: 15px;
  text-align: left;
}

.Comments {
  width: 90%;
  text-align: left;
  padding: 0 7px;
  margin: 8px;
  border: 5px solid #c8cea4;
  border-radius: 15px;
}

.Comments p {
  text-align: center;
}

.NewPost {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 4px 15px #ccc;
          box-shadow: 0 4px 15px #ccc;
  text-align: center;
  border-radius: 5px;
}

.NewPost label {
  display: block;
  margin: 15px auto;
  text-align: center;
  font-weight: bold;
}

.NewPost input,
.NewPost textarea {
  display: block;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
  outline: none;
  font: inherit;
  margin: auto;
  padding: 15px 15px;
  border-radius: 6px;
}

.NewPost button {
  margin: 15px 0;
  padding: 15px;
  font: inherit;
  border: 1px solid #18350daf;
  background-color: transparent;
  color: #0c1309;
  cursor: pointer;
  font-weight: bold;
  border-radius: 15px;
}

.NewPost button:hover,
.NewPost button:active {
  color: white;
  background-color: #18350daf;
}

html {
  background: url("./assest/images/cool-background.png") no-repeat center center fixed;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */